<mat-toolbar color="primary">
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>{{title}}</span>
</mat-toolbar>
<mat-drawer-container class="example-container col-12" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
		<p>Menu</p>

		<mat-list>
			<mat-list-item>	    
				<button mat-flat-button >
					<a routerLink="/"> Home</a>
				</button>
			</mat-list-item>
			<mat-list-item>
				<button mat-flat-button >
					<a routerLink="type-client"> Tipos de cliente</a>
				</button>
			</mat-list-item>
			<mat-list-item>
				<button mat-flat-button >
					<a routerLink="/sector"> Sectores</a>
				</button>
			</mat-list-item>	
			<mat-list-item>
				<button mat-flat-button >
					<a routerLink="/country"> Paises</a>
				</button>
			</mat-list-item>			 
			<mat-list-item>
				<button mat-flat-button >
					<a routerLink="/client"> Clientes</a>
				</button>
			</mat-list-item>
		</mat-list>
	</mat-drawer>

	<div class="col-12">
		<router-outlet></router-outlet>
	</div>

</mat-drawer-container>






